* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

section,div,nav {
    padding: 10px;
}

h1,h2,h3,h4,h5,h6,p,a {
    color: rgb(56, 54, 54)
}

a {
    text-decoration: none;
}

/* Chapter 16 - A Platform Game */
.background {
    background: rgb(52,166,251);
    table-layout: fixed;
    border-spacing: 0;
}

.background td {
    padding: 0;
}

.lava { 
    background: rgb(255, 100, 100)
}

.wall {
    background: white
}

.actor {
    position: absolute;
}

.coin {
    background: rgb(241, 229, 89);
}

.player {
    background: rgb(64, 64, 64);
}

.lost .player {
    background: rgb(160, 64, 64)
}

.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
}

/* Chapter 16 - A Platform Game end*/

/* Chapter 15 - Handling Events */
.events__mouse-trail-item {
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
}

.events__tab-btn-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.events__button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.events__button--selected {
    background-color: red;
    color: white;
}
/* Chapter 15 - Handling Events end*/